.di-issue-even, .di-break-colored, .di-grid-title, .di-grid-break {
	background-color: LightGray;
}

.di-break-colored {
	min-height: 20px;
}

.di-title, .di-title-break {
	background-color: LightSlateGray;
	color: White;
}

.di-title-break {
	min-height: 5px;
}

.di-grid-break {
	min-height: 5px;
}

.di-arg {
	background-color: #FFFFFF;
}

.di-selected {
	background-color: LightGray;
}

.di-arg:hover {
	/*background-color: WhiteSmoke;*/
	border-color:LightSlateGray;
	cursor: hand;
	cursor: pointer;
}

.panel-heading:hover {
	background-color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
}

.di-logo:hover, .di-logo:visited, .di-logo:link, .di-logo:active {
    color: #FFFFFF;
    text-decoration: none;
}

.di-title-text {
	color: #FFFFFF;
}

.di-iss-unselected > h5 > a {
	color: WhiteSmoke;
}

/*
#EC5D57 / Tomato / Coral / Salmon, SeaShell
LightSlateGray, AliceBlue / Ivory
*/